# Setup

In [1]:
from IPython.display import display
import numpy as np
import pandas as pd

## Settings

In [2]:
s1_start = '1984' #Sample 1 start
s1_end = '2000' #Sample 1 end
s2_start = '2001' #Sample 2 start
s2_end = '2016' #Sample 2 end

# Run Replication

## Period 1

In [3]:
start = s1_start
end = s1_end
%store start
%store end
%run ./replication_martin.ipynb
df_estimates_s1 = df_estimates

Stored 'start' (str)
Stored 'end' (str)
Stored 'df_estimates' (DataFrame)

## Period 2

In [4]:
start = s2_start
end = s2_end
%store start
%store end
%run ./replication_martin.ipynb
df_estimates_s2 = df_estimates

Stored 'start' (str)
Stored 'end' (str)
Stored 'df_estimates' (DataFrame)

In [8]:
estimates

       1984 - 2000  2001 - 2016
Name
beta      0.960119     0.971810
mu        1.078575     1.298468
p         0.035884     0.066950
delta     0.027777     0.032429
alpha     0.243783     0.142902
g_L       0.011706     0.011013
g_Z       0.012980     0.012980
g_Q       0.017692     0.011267
N_bar     0.623442     0.608375